<div class="home-page-container" fxLayout="column" fxLayoutAlign="start center">
    <img class="logo-image" src="/assets/img/nutrino-logo.svg" width="300">
    <div fxLayoutAlign="center center" fxFlex="40px">
        <div class="title">Welcome to <i>Food Logger</i></div>
    </div>
    <div fxFlex="60px" fxLayoutAlign="center center">
        <button class="go-to-logger-button"  mat-stroked-button [routerLink]="['/logger']">Go to logger</button>
    </div>
    <div class="foods-list-wrapper" fxFlex="100%">
        <ntrno-selected-foods-list></ntrno-selected-foods-list>
    </div>
</div>
