.home-page-container {
    width: 100%;
    height: 100%;

    .logo-image {
        margin: 20px 0;
    }

    .title {
        font-size: 20px;
        color: #001B1B;
    }

    .foods-list-wrapper {
        overflow: hidden;
        width: 100%
    }

    .go-to-logger-button {
        border-color: #85C886;
    }
}
