<div class="list-item" fxLayoutAlign="start center">
    <div class="image-wrapper" fxLayoutAlign="center center" fxFlex="70px">
        <img class="item-thumbnail" [src]="getImageUrl()">
    </div>
    <div class="item-name" fxFlex="100%">
        {{item.displayName}}
    </div>
    <div *ngIf="selected" class="check-wrapper" fxFlex="35px">
        <mat-icon class="item-selected">check</mat-icon>
    </div>
</div>
