.list-item {
    height: 50px;
    border-bottom: 1px solid #EEEEEE;
}

.image-wrapper {
    .item-thumbnail {
        max-width: 40px;
        max-height: 40px;
    }
}

.item-name {
    font-size: 14px;
}

.check-wrapper {
    .item-selected {
        font-size: 18px;
        color: darkgreen;
    }
}
