<div class="selected-items-container" fxLayout="column">
    <div class="selected-title" fxLayoutAlign="center center" fxFlex="40px">
        <span>Your selected items</span>
    </div>
    <div class="selected-items-list-wrapper" fxLayoutAlign="start" fxFlex="100%">
        <cdk-virtual-scroll-viewport *ngIf="selectedItems?.length > 0" class="scroll-list"
                                     itemSize="50">
            <ntrno-food-item *cdkVirtualFor="let item of selectedItems"
                             [item]="item"
                             [selected]="false">
            </ntrno-food-item>
        </cdk-virtual-scroll-viewport>
        <div *ngIf="selectedItems?.length === 0" class="no-items-selected" fxLayoutAlign="center center">
            <span>No items selected so far. <br> Click on the button above to find your food items.</span>
        </div>
    </div>
</div>
