.selected-items-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .selected-title {
        font-size: 18px;
        color: #001B1B;
        background-color: #85C88650;
        width: 100%;
        margin: 10px 0;
    }

    .selected-items-list-wrapper {
        overflow: hidden;
        width: 100%;

        .scroll-list {
            height: 100%;
            width: 100%;
            overflow: auto;
        }

        .no-items-selected {
            width: 100%;
            color: lightgrey;
            height: 100px;
            text-align: center;
        }
    }
}
