.back-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.logger-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .search-bar {
        background-color: #EEEEEE;
        padding: 10px;

        .search-input-wrapper {
            position: relative;
            background-color: white;
            color: lightgrey;
            font-size: 12px;
            width: 100%;
            height: 26px;
            line-height: 14px;
            border-radius: 16px;

            .search-background {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: transparent;
            }

            .search-input {
                z-index: 1;
                background-color: transparent;
                outline: none;
                width: 100%;
                height: 100%;
                padding: 0 10px;
                border: 0;
                font-size: 12px;
                border-radius: 16px;

                &.typing {
                    background-color: white;
                }
            }
        }
    }

    .last-clicked-item-wrapper {
        position: relative;
        max-height: 150px;
        height: 150px;
        transition: all .3s ease;

        .last-clicked-item-image {
            height: 100%;

            &.hidden {
                visibility: hidden;
            }
        }

        .click-to-show {
            color: #001B1B;
            font-size: 16px;
            width: 100%;
            font-weight: 600;
        }

        .item-title {
            position: absolute;
            bottom: 0;
            height: 50px;
            color: #001B1B;
            font-size: 14px;
            width: 100%;
            text-align: center;
            font-weight: 600;
            background-color: rgba(255, 255, 255, .15);
            backdrop-filter: blur(5px);
        }
    }

    .scroll-list-wrapper {
        overflow: hidden;

        .scroll-list {
            height: 100%;
            overflow: auto;
        }

        .no-results {
            color: lightgrey;
            height: 100px;
        }
    }
}
