<button class="back-button" type="button" mat-icon-button [routerLink]="['/']">
    <mat-icon>arrow_back</mat-icon>
</button>
<div class="logger-container" fxLayout="column">
    <div class="last-clicked-item-wrapper" fxFlex="0 0 {{minimizeHeader ? '50px' : '150px'}}" fxLayoutAlign="center">
        <ng-container *ngIf="(currentFoodItem$ | async)">
            <img class="last-clicked-item-image" [src]="getCurrentItemPreviewImageUrl()" #previewImage
                 (load)="previewImageLoaded = true" [class.hidden]="!previewImageLoaded">
            <div class="item-title" fxLayoutAlign="center center">
                <span>{{(currentFoodItem$ | async).displayName}}</span>
            </div>
        </ng-container>
        <div *ngIf="!(currentFoodItem$ | async)" class="click-to-show" fxLayoutAlign="center center">
            <span>Click on an item to select it</span>
        </div>
    </div>
    <div class="search-bar" fxFlex="46px">
        <div class="search-input-wrapper" fxLayoutAlign="center center">
            <div *ngIf="!searchInput.value" class="search-background" fxLayoutAlign="center center">
                <mat-icon>search</mat-icon>
                <span>search</span>
            </div>
            <input #searchInput class="search-input"
                   [class.typing]="typing"
                   [(ngModel)]="searchText"
                   (keyup)="onSearchChange()"
                   (focus)="typing = true"
                   (blur)="typing = false">
        </div>
    </div>
    <div *ngIf="searchFoodItems$ | async" class="scroll-list-wrapper" fxFlex="100%">
        <cdk-virtual-scroll-viewport *ngIf="(searchFoodItems$ | async)?.length > 0"
                                     class="scroll-list"
                                     itemSize="50"
                                     #virtualScrollList
                                     (scrolledIndexChange)="onListScroll()">
            <ntrno-food-item *cdkVirtualFor="let item of (searchFoodItems$ | async)"
                             [item]="item"
                             [selected]="(selectedItemsMap$ | async)?.has(item.foodId)"
                             (click)="onItemSelect(item)">
            </ntrno-food-item>
        </cdk-virtual-scroll-viewport>
        <div *ngIf="(searchFoodItems$ | async)?.length === 0" class="no-results" fxLayoutAlign="center center">
            <span>No results to show</span>
        </div>
    </div>
</div>
