/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body, html {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}
